<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <system.serviceModel>
    <services>
      <service name="CommonInstanceFactory.Sample.Services.GreetingService">
        <endpoint address="Soap"
                  binding="basicHttpBinding"
                  contract="CommonInstanceFactory.Sample.Services.IGreetingService"
                  name="soap"/>
        <endpoint address="Rest"
                  binding="webHttpBinding"
                  behaviorConfiguration="web"
                  contract="CommonInstanceFactory.Sample.Services.IGreetingService"
                  name="rest"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp automaticFormatSelectionEnabled="true"
                   helpEnabled="true"
                   faultExceptionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
