<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ninject-web-rest" value="http://localhost:43673/NinjectService.svc/Rest/"/>
    <add key="simpleinjector-web-rest" value="http://localhost:43673/SimpleInjectorService.svc/Rest/"/>
    <add key="console-rest" value="http://localhost:8000/GreetingService/Rest/"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="soap" />
            </basicHttpBinding>
        </bindings>
        <client>
          <endpoint address="http://localhost:43673/NinjectService.svc/Soap"
                    binding="basicHttpBinding" 
                    bindingConfiguration="soap" 
                    contract="GreetingService.IGreetingService"
                    name="ninject-web" />
          <endpoint address="http://localhost:43673/SimpleInjectorService.svc/Soap"
                    binding="basicHttpBinding" 
                    bindingConfiguration="soap" 
                    contract="GreetingService.IGreetingService"
                    name="simpleinjector-web" />
          <endpoint address="http://localhost:8000/GreetingService/Soap"
                    binding="basicHttpBinding"
                    bindingConfiguration="soap"
                    contract="GreetingService.IGreetingService"
                    name="console" />
        </client>
    </system.serviceModel>
</configuration>